.login-btn {
    margin: 0;
    padding: .8rem 1rem;
    border-radius: 0;
    font-weight: 500;
    color: #fff !important;
    line-height: 4;
    background-color: #d33a2c !important;
    border: 1px solid #d33a2c !important;
    -webkit-box-shadow: 0 1px 1px rgba(33, 37, 41, .15), 0 1px 2px rgba(33, 37, 41, .15), 0 1px 2px rgba(33, 37, 41, .15), 0 2px 4px rgba(33, 37, 41, .15), 0 4px 12px rgba(33, 37, 41, .15) !important;
    box-shadow: 0 1px 1px rgba(33, 37, 41, .15), 0 1px 2px rgba(33, 37, 41, .15), 0 1px 2px rgba(33, 37, 41, .15), 0 2px 4px rgba(33, 37, 41, .15), 0 4px 12px rgba(33, 37, 41, .15) !important;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.btn_get_access {
    color: #fff;
    background-color: #d33a2c;
    border: 1px solid #d33a2c;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
}

.btn_get_access:hover {
    background-color: #af3424;
    border: 1px solid #af3424;
}

.card-header {
    background-color: #ffffff;
    border-bottom: 0px;
    padding: 1rem 1.25rem 0;
    min-height: 84px;
}

.card-body {
    max-height: 350px;
    overflow-y: scroll;
}

/*.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 1.25rem;
}*/

.scrollbar
{
    margin-left: 30px;
    float: left;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 450px;
}

#wrapper
{
    text-align: center;
    width: 500px;
    margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#style-1 {
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

@font-face {
    font-family: MetaWebPro-Thin;
    src: url('//learning.iso.org/pluginfile.php/1/theme_space/customfontlighteot/1601276563/MetaWebPro-Thin.eot');
    src: url('//learning.iso.org/pluginfile.php/1/theme_space/customfontlighteot/1601276563/MetaWebPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('') format('woff2'),
    url('//learning.iso.org/pluginfile.php/1/theme_space/customfontlightwoff/1601276563/MetaWebPro-Thin.woff') format('woff'),
    url('//learning.iso.org/pluginfile.php/1/theme_space/customfontlightttf/1601276563/MetaCompPro-Thin.ttf') format('truetype'),
    url('#MetaCompPro-Thin') format('svg');
    font-weight: 300;
    font-style: normal;
    font-style: normal;
}
@font-face {
    font-family: MetaCompPro-Normal;
    src: url('//learning.iso.org/pluginfile.php/1/theme_space/customfontregulareot/1601276563/MetaWebPro-Normal.eot');
    src: url('//learning.iso.org/pluginfile.php/1/theme_space/customfontregulareot/1601276563/MetaWebPro-Normal.eot?#iefix') format('embedded-opentype'),
    url('') format('woff2'),
    url('//learning.iso.org/pluginfile.php/1/theme_space/customfontregularwoff/1601276563/MetaWebPro-Normal.woff') format('woff'),
    url('//learning.iso.org/pluginfile.php/1/theme_space/customfontregularttf/1601276563/MetaCompPro-Normal.ttf') format('truetype'),
    url('#MetaCompPro-Normal') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: MetaCompPro-Bold;
    src: url('//learning.iso.org/pluginfile.php/1/theme_space/customfontboldeot/1601276563/MetaWebPro-Bold.eot');
    src: url('//learning.iso.org/pluginfile.php/1/theme_space/customfontboldeot/1601276563/MetaWebPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('') format('woff2'),
    url('//learning.iso.org/pluginfile.php/1/theme_space/customfontboldwoff/1601276563/MetaWebPro-Bold.woff') format('woff'),
    url('//learning.iso.org/pluginfile.php/1/theme_space/customfontboldttf/1601276563/MetaScCompPro-Bold.ttf') format('truetype'),
    url('#MetaCompPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Metapro-Normal;
    src: url(fonts/MetaPro-Normal.ttf);
    font-weight: 500;
    font-style: bold;
}