
<script>
  document.addEventListener("DOMContentLoaded", function() {
  //The first argument are the elements to which the plugin shall be initialized
  //The second argument has to be at least a empty object or a object with your desired options
  OverlayScrollbars(document.querySelectorAll('#nav-drawer, .conversation-cotnent-container'),
  {scrollbars :
      {
        visibility       : "auto",
        autoHide         : "l",
        autoHideDelay    : 800,
        dragScrolling    : true,
        clickScrolling   : false,
        touchSupport     : true
      }
  });
  OverlayScrollbars(document.querySelectorAll('.region-main-settings-menu .dropdown-menu'),
  {scrollbars :
      {
        visibility       : "auto",
        autoHide         : "never",
        autoHideDelay    : 800,
        dragScrolling    : true,
        clickScrolling   : false,
        touchSupport     : true
      }
  });
  OverlayScrollbars(document.querySelectorAll('.s-courses .course-box-content-desc, .popover-region-content-container, .form-description pre, .accordion-nav-content'),
  {scrollbars :
      {
        visibility       : "auto",
        dragScrolling    : true,
        clickScrolling   : false,
        touchSupport     : true
      }
  });
});
</script>

<script>
var navbar = document.getElementById("navBar");
var sticky = navbar.offsetTop;
var stickysettingbtn = document.getElementById("settingsMenu");

function stickyNavF() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky-nav");
    if(stickysettingbtn != null) { stickysettingbtn.classList.add("sticky"); }
  } else {
    navbar.classList.remove("sticky-nav");
    if(stickysettingbtn != null) { stickysettingbtn.classList.remove("sticky"); }
  }
}
window.onscroll = function() {stickyNavF()};
</script>

{{#js}}
require(['jquery'], function($) {

  var searchbar = $("#searchField"),
      searchbox = $(".search-box"),
      searchbarToggle = $("#searchBtn"),
      searchbarClose = $("#searchBtnClose");

  searchbarToggle.on("click", function(e) {
     e.preventDefault();
     searchbar.toggleClass("show");
     searchbox.toggleClass("active");
  });

  searchbarClose.on("click", function(e) {
     searchbar.removeClass("show");
     searchbox.removeClass("active");
  });

  var mobileTopBar = $(".s-top-container"),
      mobileTopBarToggle = $("#mobileTopBarBtn, #mobileTopBarCloseBtn");
      mobileSidebarToggle = $(" #mobileSidebarBtnClose, #mobileSidebarBtn");

  mobileTopBarToggle.on("click", function(e) {
     e.preventDefault();
     mobileTopBar.toggleClass("show");
     mobileTopBarToggle.toggleClass("hidden");
  });

  var sidebar = $("#nav-drawer"),
      sidebarToggle = $(".sidebar-btn, .sidebar-btn--close");
      pageWrapper = $("#page-wrapper, #page-footer .c-container");
      topBarWrapper = $(".s-top");

  mobileSidebarToggle.on("click", function(e) {
     e.preventDefault();
     mobileSidebarToggle.toggleClass("hidden");
  });

  /*
   * Bootstrap Cookie Alert by Wruczek
   * https://github.com/Wruczek/Bootstrap-Cookie-Alert
   * Released under MIT license
   */
  (function () {
      "use strict";

      var customAlert = document.querySelector("#customAlert");
      var closeCustomAlert = document.querySelector("#customAlertClose");

      if (!customAlert) {
         return;
      }

      customAlert.offsetHeight; // Force browser to trigger reflow (https://stackoverflow.com/a/39451131)

      // Show the alert if we cant find the "closeCustomAlert" cookie
      if (!getCookie("closeCustomAlert")) {
          customAlert.classList.add("show");
      }

      // When clicking on the agree button, create a 1 year
      // cookie to remember user's choice and close the banner
      closeCustomAlert.addEventListener("click", function () {
          setCookie("closeCustomAlert", true, 1);
          customAlert.classList.remove("show");
      });

      // Cookie functions from w3schools
      function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
          var expires = "expires=" + d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for (var i = 0; i < ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) === ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) === 0) {
                  return c.substring(name.length, c.length);
              }
          }
          return "";
      }
  })();


  //Back to top button
  var btn = $('#backToTop');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 300) {
      btn.addClass('show');
    } else {
      btn.removeClass('show');
    }
  });

  btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
  });


});
{{/js}}

<script src="{{siteurl}}/theme/space/addons/bootstrapnavbar/bootstrap-4-navbar.min.js"></script>

{{{ additionalfooterhtml }}}
